* {
  box-sizing: border-box;
}

.parentbox {
  width: 1200px;
  height: 1000px;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);

  margin: 0 auto;
  padding-top: 250px;
}

.box {
  border-radius: 10px;
  width: 400px;
  height: 400px;
  background-image: linear-gradient(
    to top,
    #fdcbf1 0%,
    #fdcbf1 1%,
    #e6dee9 100%
  );
  border: 6px solid lemonchiffon;
  margin: 0 auto;
  position: relative;
}

.imgimg {
  width: 400px;
}

.pants {
  position: absolute;
  top: 222px;
  left: 50px;
  width: 325px;
}

.ballcap {
  position: absolute;
  top: 60px;
  left: 86px;
  width: 314px;
}

.coffee {
  position: absolute;
  top: 190px;
  left: 20px;
  width: 314px;
}

.hanbok {
  z-index: 2;
  position: absolute;
  top: 126px;
  left: 92px;
  width: 232px;
}

.rabbit.imgimg {
  position: relative;
  left: 0px;
  top: 0px;
}
