* {
  box-sizing: border-box;
}

.parentbox {
  width: 1200px;
  height: 2000px;
  background-color: gray;
  margin: 0 auto;
  padding-top: 250px;
}

.box {
  width: 400px;
  height: 400px;
  background-color: white;
  border: 6px solid black;
  margin: 0 auto;
  position: relative;
}

.imgimg {
  width: 400px;
}

.pants {
  position: absolute;
  top: 222px;
  left: 50px;
  width: 325px;
}
.shirts {
}
.airpodmax {
}
.ballcap {
  position: absolute;
  top: 60px;
  left: 86px;
  width: 314px;
}
.boxing {
}
.coffee {
  position: absolute;
  top: 190px;
  left: 20px;
  width: 314px;
}
.cookie {
}
.hanbok {
  z-index: 2;
  position: absolute;
  top: 126px;
  left: 92px;
  width: 234px;
}
.hamburger {
}
.jacket_c {
}
.jacket_o {
}

.rabbit.imgimg {
  position: relative;
  left: 0px;
  top: 0px;
}
